{% extends "base.twig" %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' href="{{ web_root }}bower_components/dropzone/downloads/css/basic.css" />
	<link rel='stylesheet' type='text/css' href="{{ web_root }}bower_components/dropzone/downloads/css/dropzone.css" />
{% endblock %}

{% block javascript %}
	<script src="{{ web_root }}bower_components/dropzone/downloads/dropzone.min.js"></script>
	<script src="{{ web_root }}js3/add.js"></script>
{% endblock %}

{% block content %}
	<!--
	<form action='{{ web_root }}api/image/add' method='post' enctype='multipart/form-data' id='image_upload'>
		<input type='file' name='image'>
		<input type='submit' value='Submit'>
	</form>-->
	<div id='drop' style='background-color: white; margin-top: 15px' class='dropzone'></div>
{% endblock %}