<!DOCTYPE html>
<html>
  <head>
    <title>{% block title_prepend %}{% endblock %}{{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='shortcut icon' type='image/png' href='{{ web_root }}icons/{{ icon_set }}/16.png' />
    <link href="{{ web_root }}css3/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css3/themes/{{ site_theme }}/{{ site_theme }}.css' />
		<link rel='stylesheet' type='text/css' href='{{ web_root }}css/fontello/fontello.css?20130423' />
    <link rel='stylesheet' type='text/css' href='{{ web_root }}css/fontello/fontello-codes.css?20130423' />
		{% block stylesheets %}{% endblock %}
		{% block meta_data %}{% endblock %}
  </head>
  <body>
    <header>
			<h1>{{ site_name }}</h1>
				<ul id='menu' class='inline'>
					{% if user.username %}<li id='user_avatar'><a href='/u/{{ user.username }}'><img src='http://www.gravatar.com/avatar/{{ user.email_hash }}?s=48&amp;d=retro&amp;r=pg' alt='User avatar' height='24' width='24'></a></li>
					<li id="username" class='nomobile' title="View Profile"><a href='/u/{{ user.username }}'>{{ user.username }}</a></li>{% endif %}
					{% if image %}
					<li id='dislike_image' class='like icon-thumbs-down icon{% if image.data.dislike %} highlight{% endif %}' title='Dislike Image'></li>
					<li id='like_image' class='like icon-thumbs-up icon{% if image.data.like %} highlight{% endif %}' title='Like Image'></li>
					<li id='add_image' class='dropdown'>
						<a href='#' class='icon-plus-circled' data-toggle="dropdown"></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href='/add' class='icon-upload'>Upload Image</a></li>
							<li><a href='/form/add_internet' id='addInternet' class='icon-link'>Add Image from URL</a></li>
						</ul>
					</li>
					<li id='save_image' class='icon-star-1 icon{% if image.saved %} highlight{% endif %}' title='Save Image'></li>
					<li id='share_image' class='dropdown'>
						<a href='#' class='icon-share' data-toggle="dropdown"></a>
						<ul class="dropdown-menu" role="menu">
							<li><a id='facebook_menu' class='icon-facebook-rect' href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pubid=ra-4f95e38340e66b80&amp;url={{ current_url }}" rel="nofollow" target='_blank'>Facebook</a></li>
							<li><a id='twitter_menu' class='icon-twitter-bird' href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pubid=ra-4f95e38340e66b80&amp;url={{ current_url }}&amp;via=JohnVanOrange&amp;related=JohnVanOrange" rel="nofollow" target='_blank'>Twitter</a></li>
							<li><a id='reddit_menu' class='icon-reddit' href="http://www.reddit.com/submit?url={{ current_url }}" rel="nofollow" target='_blank'>Reddit</a></li>
							<li><a id='email_menu' class='icon-mail-alt' href="http://api.addthis.com/oexchange/0.8/forward/email/offer?pubid=ra-4f95e38340e66b80&amp;url={{ current_url }}" rel="nofollow" target='_blank'>E-Mail</a></li>
						</ul>
					</li>
					<li id='report_image' title='Report Image' class='icon-flag icon'><a href='' id='report'></a></li>
					<li id='search_image' class='nomobile dropdown'>
						<a href='#' class='icon-picture' data-toggle="dropdown"></a>
						<ul class="dropdown-menu" role="menu">
							<li><a id='googlesearch' class='icon-google' href='http://www.google.com/searchbyimage?image_url={{ image.image_url }}'>Search using Google</a></li>
							<li><a id='tineye' class='icon-search' href='http://tineye.com/search?url={{ image.image_url }}'>Search using Tineye</a></li>
							<li><a class='icon-info-circle' href='/info/{{ image.uid }}'>Details</a></li>
							<li><a id='fullscreen' class='icon-resize-full' href='{{ image.image_url }}'>View Fullscreen</a></li>
							{% if is_admin %}<li><a id='admin_link' class='icon-cog' href='/admin/image/{{ image.uid }}'>Image Admin</a></li>{% endif %}
						</ul>
					</li>
				{% endif %}
				<li id='other_menu' class='dropdown'>
					<a href='#' class='icon-menu' data-toggle="dropdown"></a>
					<ul class="dropdown-menu" role="menu">
						{% if user.username %}<li><a href='/form/login' id='login' class='icon-login'>Login</a></li>
						<li><a href='/form/account' class='create_acct icon-user-add'>Create Account</a></li>{% endif %}
						<li><a href='/tags' class='icon-cloud'>Tag Cloud</a></li>
						{% if browser.name == 'firefox' %}<li><a id='firefox_menu' href='' class='icon-firefox'>Firefox Web App</a></li>{% endif %}
						{% if app_link %}<li><a id='android_menu' href='{{ app_link }}' class='icon-android'>Android App</a></li>{% endif %}
						<li><a href='https://github.com/cbulock/JohnVanOrange/issues/new' class='icon-github'>Suggestions/Bugs</a></li>
						<li><a href='/form/keyboard' id='keyboard' class='icon-keyboard'>Keyboard Shortcuts</a></li>
						<li><a href='/docs/' id='api_docs' class='icon-doc-alt'>API Docs</a></li>
						{% if user.username %}<li><a href='' id='logout' class='icon-logout'>Logout</a></li>{% endif %}
					</ul>
				</li>
				<li class='nomobile'><form action='' id='search'><input id='tag_search' type='search' results="0" placeholder='View by tag'><button type='submit'>Search</button></form></li>
			</ul>
		</header>
		{% block content %}{% endblock %}
		<footer>
			&copy;{{ 'now'|date('Y') }} {% if show_jvon %}<a href='/jvon'>{% endif %}John VanOrange Network{% if show_jvon %}</a>{% endif %} | 
			<a href="/tos">Legal</a> | 
			<a href="/privacy">Privacy</a>
		</footer>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ web_root }}js3/bootstrap/bootstrap.min.js"></script>
		<script src="{{ web_root }}js3/base.js"></script>
  </body>
</html>