<!DOCTYPE html>
<html>
  <head>
    <title>{% block title_prepend %}{% endblock %}{{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='shortcut icon' type='image/png' href='{{ web_root }}icons/{{ icon_set }}/16.png' />
    <link href="{{ web_root }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ web_root }}bower_components/typeahead.js-bootstrap.css/typeahead.js-bootstrap.css" rel="stylesheet" media="screen">
		<link rel='stylesheet' type='text/css' href='{{ web_root }}css/fontello/fontello.css?20130423' />
    <link rel='stylesheet' type='text/css' href='{{ web_root }}css/fontello/fontello-codes.css?20130423' />
		<link rel='stylesheet' type='text/css' href="{{ web_root }}bower_components/dropzone/downloads/css/basic.css" />
		<link rel='stylesheet' type='text/css' href="{{ web_root }}bower_components/dropzone/downloads/css/dropzone.css" />
		<link rel="apple-touch-icon" href="{{ web_root }}icons/{{ icon_set }}/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ web_root }}icons/{{ icon_set }}/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ web_root }}icons/{{ icon_set }}/114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ web_root }}icons/{{ icon_set }}/144.png" />
		{% block stylesheets %}{% endblock %}
		<link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css/themes/{{ site_theme }}/{{ site_theme }}.css?20140414' />
		{% block meta_data %}{% endblock %}
		<link rel='stylesheet' type='text/css' media='handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px)' href='{{ web_root }}css/tablet.css' />
		<link rel='stylesheet' type='text/css' media='handheld, only screen and (max-width: 625px), only screen and (max-device-width: 625px)' href='{{ web_root }}css/mobile.css' />
  </head>
  <body class='container-fluid'>
    <header>
			<h1><a href='/'>{{ site_name }}</a></h1>
				<ul id='menu' class='list-inline'>
					<li><button class='icon-plus-circled icon action btn btn-success btn-xs' data-toggle="modal" href="#addImageDialog" data-target="#addImageDialog" id='addImage'><span class='notablet nomobile'>{% trans 'Add Image' %}</span></button></li>
					{% if user.username %}
					<li id='user_avatar'><a href='/u/{{ user.username }}'><img src='//www.gravatar.com/avatar/{{ user.email_hash }}?s=48&amp;d=retro&amp;r=pg' alt='{% trans 'User avatar' %}' height='24' width='24'></a></li>
					<li id="username" class='dropdown'>
					<a href='#' data-toggle="dropdown">{{ user.username }}</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							<li><a href='/u/{{ user.username }}' class='icon-user'>{% trans 'User Profile' %}</a></li>
							<li><a href='/s/{{ user.username }}' class='icon-floppy'>{% trans 'Saved Images' %}</a></li>
							<li><a href='/uploads/{{ user.username }}' class='icon-upload'>{% trans 'Uploads' %}</a></li>
							<li><a href='/changepw' class='icon-key'>{% trans 'Change Password' %}</a></li>
							<li><a href='' id='logout' class='icon-logout'>{% trans 'Logout' %}</a></li>
						</ul>
					{% else %}
						<li><button id='login' class='icon-login icon action btn btn-warning btn-xs' data-toggle="modal" href="#loginDialog" data-target="#loginDialog"><span class='notablet nomobile'>{% trans 'Login' %}</span></button></li>
					{% endif %}
					{% if image %}
					<li id='dislike_image' class='like icon icon-thumbs-down icon{% if image.data.dislike %} highlight{% endif %}' title='{% trans 'Dislike Image' %}'></li>
					<li id='like_image' class='like icon icon-thumbs-up icon{% if image.data.like %} highlight{% endif %}' title='{% trans 'Like Image' %}'></li>
					<li id='save_image' class='icon-star-1 icon icon{% if image.saved %} highlight{% endif %}' title='{% trans 'Save Image' %}'></li>
					<li id='share_image' class='dropdown'>
						<a href='#' class='icon-share icon' data-toggle="dropdown"></a>
						<ul class="dropdown-menu" role="menu">
							<li><a id='facebook_menu' class='icon-facebook-rect' href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pubid=ra-4f95e38340e66b80&amp;url={{ current_url }}" rel="nofollow" target='_blank'>Facebook</a></li>
							<li><a id='twitter_menu' class='icon-twitter-bird' href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pubid=ra-4f95e38340e66b80&amp;url={{ current_url }}&amp;via=JohnVanOrange&amp;related=JohnVanOrange" rel="nofollow" target='_blank'>Twitter</a></li>
							<li><a id='reddit_menu' class='icon-reddit' href="http://www.reddit.com/submit?url={{ current_url }}" rel="nofollow" target='_blank'>Reddit</a></li>
							<li><a id='email_menu' class='icon-mail-alt' href="http://api.addthis.com/oexchange/0.8/forward/email/offer?pubid=ra-4f95e38340e66b80&amp;url={{ current_url }}" rel="nofollow" target='_blank'>{% trans 'Email' %}</a></li>
						</ul>
					</li>
					<li id='report_image' title='{% trans 'Report Image' %}' class='icon-flag icon' data-toggle="modal" href="#reportDialog" data-target="#reportDialog"></li>
					<li id='search_image' class='nomobile dropdown'>
						<a href='#' class='icon-picture icon' data-toggle="dropdown"></a>
						<ul class="dropdown-menu" role="menu">
							{% if image.media.primary.format != 'gif' and show_brazz %}<li><a class='icon-b' href='/brazzify/{{ image.uid }}'>Brazzify</a></li>{% endif %}
							<li><a id='googlesearch' class='icon-google' href='http://www.google.com/searchbyimage?image_url={{ image.media.primary.url }}'>{% trans 'Search using Google' %}</a></li>
							<li><a id='tineye' class='icon-search' href='http://tineye.com/search?url={{ image.media.primary.url }}'>{% trans 'Search using Tineye' %}</a></li>
							<li><a class='icon-info-circle' href='/info/{{ image.uid }}'>{% trans 'Details' %}</a></li>
							<li><a id='fullscreen' class='icon-resize-full' href='{{ image.media.primary.url }}'>{% trans 'View Fullscreen' %}</a></li>
							{% if is_admin %}<li><a id='admin_link' class='icon-cog' href='/admin/image/{{ image.uid }}'>{% trans 'Image Admin' %}</a></li>{% endif %}
						</ul>
					</li>
				{% endif %}
				{% if image or message %}
				<li id='filter' title='{% trans 'Filter Images' %}' class='icon-filter icon{% if filter %} active{% endif %}' data-toggle="modal" href="#filterDialog" data-target="#filterDialog"></li>
				{% endif %}
				<li class='nomobile'><form action='' id='search'><input id='tag_search' placeholder='{% trans 'Search tags' %}'><button type='submit' title='{% trans 'Search' %}' class='icon-search btn btn-default btn-xs'></button></form></li>
				<li id='other_menu' class='dropdown'>
					<a href='#' class='icon-menu icon' data-toggle="dropdown"></a>
					<ul class="dropdown-menu pull-right" role="menu">
						{% if user.username is not defined %}<li><a id='login' class='icon-login' data-toggle="modal" href="#loginDialog" data-target="#loginDialog">{% trans 'Login' %}</a></li>
						<li><a class='create_acct icon-user-add' data-toggle="modal" href="#createAcctDialog" data-target="#createAcctDialog">{% trans 'Create Account' %}</a></li>{% endif %}
						<li><a href='/tags' class='icon-cloud'>{% trans 'Tag Cloud' %}</a></li>
						<!--{% if browser == 'Firefox' %}<li><a id='firefox_menu' href='' class='icon-firefox'>{% trans 'Firefox Web App' %}</a></li>{% endif %}-->
						{% if app_link %}<li><a id='android_menu' href='{{ app_link }}' class='icon-android'>{% trans 'Android App' %}</a></li>{% endif %}
						<li><a href='https://github.com/JohnVanOrange/FrontEnd/issues/new' class='icon-github'>{% trans 'Suggestions/Bugs' %}</a></li>
						<li><a id='keyboard' class='icon-keyboard' data-toggle="modal" href="#keyboardDialog" data-target="#keyboardDialog">{% trans 'Keyboard Shortcuts' %}</a></li>
						<li><a href='/docs/' id='api_docs' class='icon-doc-alt'>{% trans 'API Docs' %}</a></li>
					</ul>
				</li>
			</ul>
		</header>
		<section id='content'>
		{% block content %}{% endblock %}
		</section>
		<footer>
			&copy;{{ 'now'|date('Y') }} {% if show_jvon %}<a href='/jvon'>{% endif %}John VanOrange Network{% if show_jvon %}</a>{% endif %} | 
			<a href="/tos">{% trans 'Legal' %}</a> | 
			<a href="/privacy">{% trans 'Privacy' %}</a>
		</footer>
		{% include 'dialogs/report.twig' %}
		{% include 'dialogs/create_acct.twig' %}
		{% include 'dialogs/login.twig' %}
		{% include 'dialogs/pwreset_request.twig' %}
		{% include 'dialogs/add_image.twig' %}
		{% include 'dialogs/keyboard.twig' %}
		{% include 'dialogs/filter.twig' %}
		<script type='text/javascript'>
		 var web_root = '{{ web_root }}';
		 var site_name = '{{ site_name }}';
		 var icon_set = '{{ icon_set }}';
		 var fb_app_id = '{{ fb_app_id }}';
		 var locale = '{{ locale }}';
		</script>
    <script src="{{ web_root }}bower_components/jquery/jquery.min.js"></script>
    <script src="{{ web_root }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src='{{ web_root }}bower_components/typeahead.js/dist/typeahead.min.js'></script>
		<script src='{{ web_root }}bower_components/noty/js/noty/jquery.noty.js'></script>
		<script src='{{ web_root }}bower_components/noty/js/noty/layouts/topLeft.js'></script>
		<script src='{{ web_root }}bower_components/noty/js/noty/themes/default.js'></script>
		<script src="{{ web_root }}bower_components/dropzone/downloads/dropzone.min.js"></script>
		<script src="{{ web_root }}bower_components/jquery-cookie/jquery.cookie.js"></script>
		<script src="{{ web_root }}js/base.js?20140414"></script>
		<script src="{{ web_root }}js/add.js"></script>
		
		<script async src="//assets.pinterest.com/js/pinit.js"></script>
		
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/" + locale + "/all.js#xfbml=1&appId=" + fb_app_id;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
		
		<script type="text/javascript">
		
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{{ ga }}']);
				_gaq.push(['_trackPageview']);
		
				(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		
		</script>
		{% block javascript %}{% endblock %}
  </body>
</html>
