<!DOCTYPE html>
<html>
  <head>
    <title>{% block title_prepend %}{% endblock %}{{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='shortcut icon' type='image/png' href='{{ web_root }}icons/{{ icon_set }}/16.png' />
    <link href="{{ web_root }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ web_root }}bower_components/typeahead.js-bootstrap.css/typeahead.js-bootstrap.css" rel="stylesheet" media="screen">
		<link rel='stylesheet' type='text/css' href='{{ web_root }}css/fontello/fontello.css' />
    <link rel='stylesheet' type='text/css' href='{{ web_root }}css/fontello/fontello-codes.css' />
		<link rel='stylesheet' type='text/css' href="{{ web_root }}bower_components/dropzone/downloads/css/basic.css" />
		<link rel='stylesheet' type='text/css' href="{{ web_root }}bower_components/dropzone/downloads/css/dropzone.css" />
		<link rel="apple-touch-icon" href="{{ web_root }}icons/{{ icon_set }}/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ web_root }}icons/{{ icon_set }}/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ web_root }}icons/{{ icon_set }}/114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ web_root }}icons/{{ icon_set }}/144.png" />
		{% block stylesheets %}{% endblock %}
		<link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css/themes/{{ site_theme }}/{{ site_theme }}.css?20141208' />
		{% block meta_data %}{% endblock %}
		<meta name="theme-color" content="#f49b35">
  </head>
  <body class='container-fluid preload'>
    <header>
			<h1><a href='/'>{% include 'components/headers/' ~ site_theme ~ '.twig' %}</a></h1>
			<div>
				{% if user.username is defined %}
					<a id='user_avatar' class='btn btn-link btn-sm' href='/u/{{ user.username }}'><img src='//www.gravatar.com/avatar/{{ user.email_hash }}?s=48&amp;d=retro&amp;r=pg' alt='{% trans 'User avatar' %}' height='24' width='24'>{{ user.username }}</a>
					<button id='logout' class='icon-logout btn btn-sm btn-link'>{% trans 'Sign Out' %}</button>
				{% else %}
					<button id='login' class='icon-login btn btn-sm btn-primary' data-toggle="modal" href="#loginDialog" data-target="#loginDialog">{% trans 'Sign In' %}</button>
					<button class='create_acct icon-user-add btn btn-sm btn-link' data-toggle="modal" href="#createAcctDialog" data-target="#createAcctDialog">{% trans 'Create Account' %}</button>
				{% endif %}
			<button id='search' title='{% trans 'Search' %}' class='icon-search btn btn-link btn-sm' data-toggle="modal" href="#searchDialog" data-target="#searchDialog"></button>
			</div>
		</header>
		<section id='content'>
		{% block content %}{% endblock %}
		</section>
		<button class='icon-plus-circled icon action btn btn-success btn-xs' data-toggle="modal" href="#addImageDialog" data-target="#addImageDialog" id='addImage'><span>{% trans 'Add Image' %}</span></button>
		<footer>
			&copy;{{ 'now'|date('Y') }} {% if show_jvon %}<a href='/jvon'>{% endif %}John VanOrange Network{% if show_jvon %}</a>{% endif %} | 
			<a href="/tos">{% trans 'Legal' %}</a> | 
			<a href="/privacy">{% trans 'Privacy' %}</a>
		</footer>
		{% include 'dialogs/report.twig' %}
		{% include 'dialogs/create_acct.twig' %}
		{% include 'dialogs/login.twig' %}
		{% include 'dialogs/pwreset_request.twig' %}
		{% include 'dialogs/add_image.twig' %}
		{% include 'dialogs/keyboard.twig' %}
		{% include 'dialogs/filter.twig' %}
		{% include 'dialogs/search.twig' %}
		<script type='text/javascript'>
		 var web_root = '{{ web_root }}';
		 var site_name = '{{ site_name }}';
		 var icon_set = '{{ icon_set }}';
		 var fb_app_id = '{{ fb_app_id }}';
		 var locale = '{{ locale }}';
		</script>
    <script src="{{ web_root }}bower_components/jquery/jquery.min.js"></script>
    <script src="{{ web_root }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src='{{ web_root }}bower_components/typeahead.js/dist/typeahead.min.js'></script>
		<script src='{{ web_root }}bower_components/noty/js/noty/jquery.noty.js'></script>
		<script src='{{ web_root }}bower_components/noty/js/noty/layouts/topLeft.js'></script>
		<script src='{{ web_root }}bower_components/noty/js/noty/themes/default.js'></script>
		<script src="{{ web_root }}bower_components/dropzone/downloads/dropzone.min.js"></script>
		<script src="{{ web_root }}bower_components/jquery-cookie/jquery.cookie.js"></script>
		<script src="{{ web_root }}js/base.js"></script>
		<script src="{{ web_root }}js/add.js"></script>
		
		<script async src="//assets.pinterest.com/js/pinit.js"></script>
		
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/" + locale + "/all.js#xfbml=1&appId=" + fb_app_id;
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
		
		<script type="text/javascript">
		
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{{ ga }}']);
				_gaq.push(['_trackPageview']);
		
				(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		
		</script>
		{% block javascript %}{% endblock %}
  </body>
</html>
