{% extends "base.twig" %}

{% block content %}
	
	<section id='img_container' itemscope itemtype="http://schema.org/ImageObject">
		<a id='main' href='/?{{ rand }}' rel='nofollow'>
			<img id="{{ image.uid }}" class="main" alt='{% trans 'Main Image' %}' src='{%if image.brazzify_url %}{{ image.brazzify_url }}{% else %}{{ image.image_url }}{% endif %}' height='{{ image.height }}' width='{{ image.width }}' itemprop='contentUrl' />
		</a>
	</section>
	

	
	<span id='tags'>
	{% if image.tags.0 %}
		{% for tag  in image.tags %}
			<a class='tag' href='{{ tag.url }}'>{{ tag.name }}</a>
		{% endfor %}
	{% else %}
		<em>{% trans 'no current tags' %}</em>
	{% endif %}
	</span>
	<button class='icon-tag btn btn-default btn-xs' id='add_tag' data-toggle="modal" href="#addTagDialog" data-target="#addTagDialog">{% trans 'Add Tag' %}</button>
	
	{% if show_social == 1%}
		<div id='social'>
		<div id='facebook_like' class="fb-like" data-send="true" data-layout="button_count" data-show-faces="false" data-colorscheme="dark"></div>
		<div id='pintrest'><a href="http://pinterest.com/pin/create/button/?url={{ image.page_url|url_encode }}&amp;media={{ image.image_url|url_encode }}" class="pin-it-button" count-layout="horizontal"><img src="//assets.pinterest.com/images/PinExt.png" title="{% trans 'Pin It' %}" alt='{% trans 'Pin It' %}' /></a></div>
		<div class="g-plusone" data-size="medium"></div>
		</div>
	{% endif %}
	{% include 'dialogs/add_tag.twig' %}
	
	{% if amazon_aff %}
		<div id='ad'>
			<h4>Buy Now From Amazon</h4>
			<a href='http://www.amazon.com/dp/{{ ad.ASIN }}/?tag={{ amazon_aff }}'>
				{{ad.title}}
				<img src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{ ad.ASIN }}&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag={{ amazon_aff }}">
			</a>
		</div>
	{% endif %}

{% endblock %}

{% block meta_data %}
	<link rel='image_src' href='{{ image.image_url }}'>
	<meta property='og:image' content='{{ image.image_url }}'>
	<meta name='og:image:width' content='{{ image.width }}'>
	<meta name='og:image:height' content='{{ image.height }}'>
	<meta property='og:type' content='website'>
	<meta property='og:title' content='{{ image.page_title|e }}'>
	<meta property='og:description' content=''>
	<meta property="og:url" content="{{ current_url }}">
	
	<meta property="fb:admins" content="503316760">
	{% if fb_app_id %}<meta property="fb:app_id" content="{{ fb_app_id }}">{% endif %}
	 
	<meta name="twitter:card" content="photo">
	<meta name='twitter:title' content='{{ image.page_title|e }}'>
	<meta name='twitter:image' content='{{ image.image_url }}'>
	<meta name='twitter:image:width' content='{{ image.width }}'>
	<meta name='twitter:image:height' content='{{ image.height }}'>
{% endblock %}

{% block javascript %}
	<script src="{{ web_root }}js/display.js"></script>
{% endblock %}