{% extends "base.twig" %}

{% block content %}

	<section id='img_container' itemscope itemtype="http://schema.org/ImageObject">
		<a id='main' class='next-image' href='/rand?{{ rand }}' rel='nofollow'>
			<img id="{{ image.uid }}" class="main" alt='{% trans 'Main Image' %}' src='{%if image.brazzify_url %}{{ image.brazzify_url }}{% else %}{{ image.media.primary.url }}{% endif %}' height='{{ image.media.primary.height }}' width='{{ image.media.primary.width }}' itemprop='contentUrl' />
		</a>
		<div id="image_footer">
			<button id='report_image' title='{% trans 'Report Image' %}' class='icon-flag icon btn btn-link' data-toggle="modal" href="#reportDialog" data-target="#reportDialog">{% trans 'Report image' %}</button>
			<div class="dropdown">
				<button id="image_tools" type="button" class="icon-cog btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="image_tools">
					{% if image.media.primary.format != 'gif' and show_brazz %}<li><a class='icon-b' href='/brazzify/{{ image.uid }}'>Brazzify</a></li>{% endif %}
					<li><a id='googlesearch' class='icon-google' href='http://www.google.com/searchbyimage?image_url={{ image.media.primary.url }}'>{% trans 'Search using Google' %}</a></li>
					<li><a id='tineye' class='icon-search' href='http://tineye.com/search?url={{ image.media.primary.url }}'>{% trans 'Search using Tineye' %}</a></li>
					<li><a class='icon-info-circle' href='/info/{{ image.uid }}'>{% trans 'Details' %}</a></li>
					<li><a id='fullscreen' class='icon-resize-full' href='{{ image.media.primary.url }}'>{% trans 'View Fullscreen' %}</a></li>
					{% if can_remove %}<li><a id='remove_image' class='icon-cog' data-toggle="modal" href="#removeImageDialog" data-target="#removeImageDialog">{% trans 'Remove Image' %}</a></li>{% endif %}
					{% if is_admin %}<li><a id='admin_link' class='icon-cog' href='/admin/image/{{ image.uid }}'>{% trans 'Image Admin' %}</a></li>{% endif %}
				</ul>
			</div>
		</div>
	</section>


	<div id="image_icons">
		<div id='dislike_image' class='like icon icon-thumbs-down{% if image.data.dislike %} highlight{% endif %}' title='{% trans 'Dislike Image' %}'></div>
		<div id='save_image' class='like icon icon-heart{% if image.saved %} highlight{% endif %}' title='{% trans 'Favorite Image' %}'></div>
		<div id='like_image' class='like icon icon-thumbs-up{% if image.data.like %} highlight{% endif %}' title='{% trans 'Like Image' %}'></div>
	</div>

	<div id="tag_containter">
		<div id='tags'>
			{% if image.tags.0 %}
				{% for tag  in image.tags %}
					<span class='tag_wrap'><a class='tag' href='{{ tag.url }}'>{{ tag.name }}</a></span>
				{% endfor %}
			{% else %}
				<em class="notag">{% trans 'no current tags' %}</em>
			{% endif %}
		</div>
		<button class='icon-plus-circled btn btn-primary' id='add_tag' data-toggle="modal" href="#addTagDialog" data-target="#addTagDialog">{% trans 'Add Tag' %}</button>
	</div>

	{% if show_social == 1%}
	<div id='social'>
		<div id='facebook_like' class="fb-like" data-send="true" data-layout="button_count" data-show-faces="false" data-colorscheme="dark"></div>
		<div id='pintrest'><a href="http://pinterest.com/pin/create/button/?url={{ image.page_url|url_encode }}&amp;media={{ image.media.primary.url|url_encode }}" class="pin-it-button" count-layout="horizontal"><img src="//assets.pinterest.com/images/PinExt.png" title="{% trans 'Pin It' %}" alt='{% trans 'Pin It' %}' /></a></div>
		<div class="g-plusone" data-size="medium"></div>
	</div>
	{% endif %}
	{% include 'dialogs/add_tag.twig' %}
	{% include 'dialogs/remove_image.twig' %}



	{% if tip %}
	<div class="row">
		<div class="alert alert-info col-md-4 col-md-offset-4"><span class="glyphicon glyphicon-info-sign"></span> {{ tip|raw }}</div>
	</div>
	{% endif %}


{% endblock %}

{% block meta_data %}
	<link rel='image_src' href='{{ image.media.primary.url }}'>
	<meta property='og:image' content='{{ image.media.primary.url }}'>
	<meta name='og:image:width' content='{{ image.media.primary.width }}'>
	<meta name='og:image:height' content='{{ image.media.primary.height }}'>
	<meta property='og:type' content='website'>
	<meta property='og:title' content='{{ image.page_title|e }}'>
	<meta property='og:description' content=''>
	<meta property="og:url" content="{{ current_url }}">

	<meta property="fb:admins" content="503316760">
	{% if fb_app_id %}<meta property="fb:app_id" content="{{ fb_app_id }}">{% endif %}

	<meta name="twitter:card" content="photo">
	<meta name='twitter:title' content='{{ image.page_title|e }}'>
	<meta name='twitter:image' content='{{ image.media.primary.url }}'>
	<meta name='twitter:image:width' content='{{ image.media.primary.width }}'>
	<meta name='twitter:image:height' content='{{ image.media.primary.height }}'>
{% endblock %}

{% block javascript %}
	<script src="{{ web_root }}js/display.js"></script>
	<script src="{{ web_root }}js/filter.js"></script>
{% endblock %}
