{% extends "base.twig" %}

{% block stylesheets %}
 <link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css/{{ site_theme }}/info.css' />
{% endblock %}

{% block content %}
<img src='{{ image.media.primary.url }}' alt='Background image' id='info_bg' />
<h2>Image Details</h2>

<div class='col-page container'>
	<div>
		<div class='links'>
			<ul>
				<li>Format: <span class='data'>{{ image.media.primary.format|upper }}</span></li>
				<li>Width: <span class='data'>{{ image.media.primary.width }}px</span></li>
				<li>Height: <span class='data'>{{ image.media.primary.height }}px</span></li>
				<li>Size: <span class='data'>{{ image.media.primary.readable_size }}</span></li>
				{% if image.added %}<li>Added on {{ image.added|date("M d, Y") }}</li>{% endif %}
				{% if image.uploader.username %}<li>{Uploaded by <a href='/u/{{ image.uploader.username }}'>{{ image.uploader.username }}</a></li>{% endif %}
				{% if image.approved %}
				 {% if image.nsfw == '1' %}<li>Flagged NSFW</li>{% endif %}
				{% endif %}
				{% if image.saved %}<li>Saved{% if image.data.save.created %} on {{ image.data.save.created|date("M d, Y") }}{% endif %}</li>{% endif %}
				{% if image.tags.0 %}
				 <li>
					<ul>Tags:
					 {% for tag in image.tags %}<li><span class='fa fa-tag'></span><a href='/t/{{ tag.basename }}'>{{ tag.name }}</a></li>{% endfor %}
					</ul>
				 </li>
				{% endif %}
				<li>
				 <ul>External Resources:
					<li><span class='fa fa-picture-o'></span><a href='http://regex.info/exif.cgi?url={{ image.media.primary.url }}'>Additional image info (EXIF and technical data)</a></li>
					<li><span class='fa fa-google'></span><a href='http://www.google.com/searchbyimage?image_url={{ image.media.primary.url }}'>Reverse Google search</a></li>
					<li><span class='fa fa-search'></span><a href='http://tineye.com/search?url={{ image.media.primary.url }}'>Reverse Tineye search</a></li>
					<li><span class='fa fa-wrench'></span><a href='http://imgops.com/{{ image.media.primary.url }}'>Image tools</a></li>
					{% if image.c_link != '' %}<li><span class='fa fa-comment-o'></span><a href='{{ image.c_link }}'>Comments</a></li>{% endif %}
				 </ul>
				</li>
			 </ul>
		</div>
		<div class="image">
		  <a href='{{ image.page_url }}'><img id="{{ image.uid }}" alt='Image Thumbnail' src='{{ image.media.thumb.url }}' width='{{ image.media.thumb.width }}' height='{{ image.media.thumb.height }}' /></a>
		</div>
  </div>
	<div>
		<div class="info-stats">
			<div title='Favs'><span class='fa fa-heart'></span><span>{{ image.favs }}</span></div>
			<div title="Likes"><span class='fa fa-thumbs-up'></span><span>{{ image.likes }}</span></div>
		</div>
	</div>
</div>
{% endblock %}
