{% extends "base.twig" %}

{% block content %}
<img src='{{ image.media.primary.url }}' alt='Background image' id='info_bg' />
<h2>{% trans 'Image Details' %}</h2>

<div class='col-page container'>
	<div>
		<div class='links'>
			<ul>
				<li>{% trans 'Format' %}: <span class='data'>{{ image.media.primary.format|upper }}</span></li>
				<li>{% trans 'Width' %}: <span class='data'>{{ image.media.primary.width }}px</span></li>
				<li>{% trans 'Height' %}: <span class='data'>{{ image.media.primary.height }}px</span></li>
				<li>{% trans 'Size' %}: <span class='data'>{{ image.media.primary.readable_size }}</span></li>
				{% if image.added %}<li>{% trans 'Added on' %} {{ image.added|date("M d, Y") }}</li>{% endif %}
				{% if image.uploader.username %}<li>{% trans 'Uploaded by' %} <a href='/u/{{ image.uploader.username }}'>{{ image.uploader.username }}</a></li>{% endif %}
				{% if image.approved %}
				 {% if image.nsfw == '1' %}<li>{% trans 'Flagged NSFW' %}</li>{% endif %}
				{% endif %}
				{% if image.saved %}<li>{% trans 'Saved' %}{% if image.data.save.created %} {% trans 'on' %} {{ image.data.save.created|date("M d, Y") }}{% endif %}</li>{% endif %}
				{% if image.tags.0 %}
				 <li>
					<ul>{% trans 'Tags' %}:
					 {% for tag in image.tags %}<li class='icon-tag'><a href='/t/{{ tag.basename }}'>{{ tag.name }}</a></li>{% endfor %}
					</ul>
				 </li>
				{% endif %}
				<li>
				 <ul>{% trans 'External Resources' %}:
					<li class='icon-picture-1'><a href='http://regex.info/exif.cgi?url={{ image.media.primary.url }}'>{% trans 'Additional image info (EXIF and technical data)' %}</a></li>
					<li class='icon-google'><a href='http://www.google.com/searchbyimage?image_url={{ image.media.primary.url }}'>{% trans 'Reverse Google search' %}</a></li>
					<li class='icon-search'><a href='http://tineye.com/search?url={{ image.media.primary.url }}'>{% trans 'Reverse Tineye search' %}</a></li>
					<li class='icon-tools'><a href='http://imgops.com/{{ image.media.primary.url }}'>{% trans 'Image tools' %}</a></li>
					{% if image.c_link != '' %}<li class='icon-comment'><a href='{{ image.c_link }}'>{% trans 'Comments' %}</a></li>{% endif %}
				 </ul>
				</li>
			 </ul>
		</div>
		<div class="image">
		  <a href='{{ image.page_url }}'><img id="{{ image.uid }}" alt='{% trans 'Image Thumbnail' %}' src='{{ image.media.thumb.url }}' width='{{ image.media.thumb.width }}' height='{{ image.media.thumb.height }}' /></a>
		</div>
  </div>
	<div>
		<div class="info-stats">
			<div class='icon-heart' title='Favs'><span>{{ image.favs }}</span></div>
			<div class='icon-thumbs-up' title="Likes"><span>{{ image.likes }}</span></div>
		</div>
	</div>
</div>
{% endblock %}