{% extends "base.twig" %}

{% block title_prepend %}{{ title_text }} {% endblock %}

{% block content %}
	<h2>{{ title_text }}</h2>
	{{ user.id }}
	<div class='row'>
	{% for image in images %}
	{{ image.uploader.id }}
	 <div class='thumb_wrap col-md-1 col-xs-1'>
		<!--don't have uploader data available since thumbnails use image/get_slim -->
		{% if image.uploader.id == user.id %}<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>{% endif %}
		<a href="{{ image.page_url }}"><img src="{{ image.media.thumb.url }}" height='{{ image.media.thumb.height }}' width='{{ image.media.thumb.width }}'></a>
	 </div>
	{% endfor %}
	</div>
{% endblock %}
