{% extends "base.twig" %}

{% block title_prepend %}{{ title_text }} {% endblock %}

{% block content %}
<h2>{% trans 'Profile for' %} {{ profile.username }}</h2>

<div class='col-page container'>
	<div>
		<div class='links'>
			{% if profile.id == user.id %}
				<ul>
					<li><span class='fa fa-heart'></span><a href='/s/{{ profile.username }}'>{% trans 'View your favorited images' %}</a></li>
					<li><span class='fa fa-upload'></span><a href='/uploads/{{ profile.username }}'>{% trans 'View your uploaded images' %}</a></li>
					<li><span class='fa fa-key'></span><a href='/changepw'>{% trans 'Change your password' %}</a></li>
				</ul>
			{% endif %}
		</div>
		<div class="image">
			<img src='http://www.gravatar.com/avatar/{{ profile.email_hash }}?s=180&d=retro&r=pg' alt='Profile image for {{ profile.username }}'>
			{% if profile.id == user.id %}<p><a href='http://gravatar.com'>{% trans 'Update Profile Image with Gravatar' %}</a></p>{% endif %}
		</div>
	</div>
	<div>
		<div class="user-stats">
			{% if profile.id == user.id %}<a href='/s/{{ profile.username }}'>{% endif %}<div title='Favs'><span class='fa fa-heart'></span><span>{{ profile.favs }}</span></div>{% if profile.id == user.id %}</a>{% endif %}
			<div title="Likes"><span class='fa fa-thumbs-up'></span><span>{{ profile.likes }}</span></div>
			{% if profile.id == user.id %}<a href='/uploads/{{ profile.username }}'>{% endif %}<div title="Uploads"><span class='fa fa-upload'></span><span>{{ profile.uploads }}</span></div>{% if profile.id == user.id %}</a>{% endif %}
		</div>
	</div>
</div>
{% endblock %}
